@import '../assets/variables';

:host {
    display: flex;
    height: 100%;
    width: 100%;
}

.main-app-div {
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

.sidebar-column {
    @media screen and (max-width: 800px) {
        box-shadow: 1px 0 20px black;
        position: absolute;
        height: 100%;
    }
    flex-basis: 25%;
    max-width: 250px;
    min-width: 250px;
    overflow: hidden;
    margin-left: 0;
    transition: margin-left 0.5s ease, box-shadow 0.5s ease;
}

.sidebar-gone {
    margin-left: -250px;
    box-shadow: none;
}

.content-overlay {
    position: absolute;
    opacity: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: opacity 0.50s ease, background-color 0.50s ease;
    visibility: hidden;
    @media screen and (min-width: 800px) {
        display: none;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

.content-overlay-open {
    visibility: visible;
    opacity: 0.6;
}

.sidebar-top {
    display: inline-flex !important;
    align-items: center;
    height: 50px;
    background-color: $primary;
    color: white;
    border-right: 1px solid $primary-dark;
    z-index: 2;
    padding-left: 18px;
    .app-title {
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        font-weight: normal;
        font-size: 20px;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
}

.sidebar-content {
    flex-grow: 1;
    background-color: $primary-dark;
    color: white;
    z-index: 2;
    .side-item {
        display: inline-flex;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        user-select: none;
        flex-wrap: nowrap;
        white-space: nowrap;
        transition: background-color 0.3s linear, box-shadow 0.3s ease;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: rgba(126, 126, 126, 0.17);
        }
        .side-icon {
            padding-right: 10px;
            display: inline-flex;
            color: $accent;
        }
        .side-text {
            flex-wrap: nowrap;
            white-space: nowrap;
        }
    }
}

.main-content-col {
    flex-grow: 1;
    background-color: rgba(198, 198, 198, 0.2);
    .main-content-top-row {
        box-shadow: 0 2px 3px #b9b9b9;
        background-color: $primary;
        color: white;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        flex-shrink: 0;
        .menu-icon {
            cursor: pointer;
        }
    }
}

.active {
    box-shadow: inset 5px 0 0 $accent;
    background-color: rgba(126, 126, 126, 0.25);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.router {
    padding-right: 40px;
    padding-left: 40px;
    height: 100%;
    overflow: auto;
}

.language {
    border-radius: 2px;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
        background-color: rgba(211, 211, 211, 0.15) !important;
    }
}
