:host {
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
}

.main-unlimited-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.unlimited-card-helper {
    display: flex;
    margin: 10px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    padding-top: 10px;
}
